<footer class="text-center text-lg-start bg-dark text-white">
    <section class="container d-flex justify-content-center justify-content-lg-between p-2"> <!-- Reduced padding here -->
      <div class="me-3 d-none d-lg-block"> <!-- Reduced margin here -->
        <span>Get connected with us on social networks:</span>
      </div>
      <div>
        <a href="https://www.instagram.com/m_rahul_23/" target="_blank" class="me-2 text-reset"><i class="fa fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/mrahul23/" target="_blank" class="me-2 text-reset"><i class="fa fa-linkedin"></i></a>
        <a href="https://github.com/MRahul2304" target="_blank" class="me-2 text-reset"><i class="fa fa-github"></i></a>
      </div>
    </section>
  
    <section class="">
      <div class="container text-center text-md-start mt-3"> <!-- Reduced margin here -->
        <div class="row mt-2"> <!-- Reduced margin here -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-3"> <!-- Reduced margin here -->
            <h6 class="text-uppercase fw-bold mb-3"><i class="fa-brands fa-opencart"></i> QuickShop </h6> <!-- Reduced margin here -->
            <p>
              QuickShop is your ultimate destination for all your family's fashion needs. Transform your wardrobe with the latest collections from our top brands.
            </p>
          </div>
  
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-3"> <!-- Reduced margin here -->
            <h6 class="text-uppercase fw-bold mb-3">Make Money With Us</h6> <!-- Reduced margin here -->
            <p><a href="#!" class="text-reset">Sell on QuickShop</a></p>
            <p><a href="#!" class="text-reset">Advertise Your Products</a></p>
            <p><a href="#!" class="text-reset">Become an Affiliate</a></p>
            <p><a href="#!" class="text-reset">Fulfilment by ShopKart</a></p>
          </div>
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-3"> <!-- Reduced margin here -->
            <h6 class="text-uppercase fw-bold mb-3">Useful links</h6> <!-- Reduced margin here -->
            <p><a href="#!" class="text-reset">FAQ</a></p>
            <p><a href="#!" class="text-reset">Feedback</a></p>
            <p><a href="#!" class="text-reset">About Us</a></p>
            <p><a href="#!" class="text-reset">Contact Us</a></p>
          </div>
  
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-3"> <!-- Reduced margin here -->
            <h6 class="text-uppercase fw-bold mb-3">Contact</h6> <!-- Reduced margin here -->
            <p><i class="fa-brands fa-opencart"></i> QuickShop</p>
            <p><i class="fa fa-envelope"></i> info@quckshop.com</p>
            <p><i class="fa fa-phone"></i> + 91 9876543210</p>
          </div>
  
        </div>
      </div>
    </section>
    <div class="text-center p-2"> <!-- Reduced padding here -->
      &copy; 2024 Copyright <a class="text-reset fw-bold" href="https://mrahul.zohosites.in/"> mrahul.zohosites.in</a>
    </div>
  </footer>
  