<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}"> <i class="fa-brands fa-opencart"></i> QuckShop </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'home' %}"> <i class="fa-solid fa-house"></i> Home</a>
          </li>
          {% if request.user.is_authenticated %}
            <li class="nav-item" >
              <a class="nav-link" href="#"> <i class="fa-solid fa-user"></i> {{request.user}}</a>
            </li> 
            <li class="nav-item" >
              <a class="nav-link" href="{% url 'logout' %}"> <i class="fa-solid fa-right-from-bracket"></i> Logout </a>
            </li>
          {% else %}
            <li class="nav-item" >
              <a class="nav-link" href="{% url 'login' %}"> <i class="fa-solid fa-right-to-bracket"></i> Login </a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="{% url 'register' %}"> <i class="fa-solid fa-user"></i> Register </a>
            </li> 
          {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'collections' %}"> <i class="fa-solid fa-bookmark"></i> Collections </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'cart' %}"> <i class="fa-solid fa-cart-shopping"></i> Cart </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'favourite_view' %}"> <i class="fa-solid fa-heart"></i> </i> Favourite </a>
            </li>
        </ul>
      </div>
    </div>
  </nav>
