@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-size: 14px; /* Corrected font size unit */
}

body {
    font-family: 'Poppins', serif; /* Corrected font family */
}   

a {
    text-decoration: none;
}

.carousel-item img{
    object-fit: cover;
    object-position: top;
    height: 70vh;
    overflow: hidden;
}

.old_price {
    text-decoration: line-through;
    color: #f56a73;
}

.new_price {
    font-weight: bold;
    color: #0fdf62;
}

.Hot {
    font-weight: bold;
    color: #ff0000; /* Red color */
    font-size: 18px; /* Font size */
    /* Add any additional styles here */
}

.icon {
    font-size: 24px; /* Increased font size */
}

/* Style for the container */
.pic-box {
    position: relative;
}

/* Style for the "HOT" label */
.Hot {
    position: absolute;
    top: 0;
    right: 10px;
    background-color: red;
    width: 50px;
    color: white;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
}

/* Style for the image */
.card-image-top {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow effect */
}
