{% extends 'shop/layouts/main.html' %}

{% block title %} 
Registration | QuickShop
{% endblock title %}

{% block content %}
</section>
<section class = "bg-light py-4 my-5">
    <div class  ="container">
        <div class="row">
            <div class="col-12">
                <h4 class = "mb-3">Categories</h4>
                <hr style="border-color:#b8bfc2;">
                {% include 'shop/inc/message.html' %}
            </div>
            {% for item in category %}
            <div class="col-md-4 col-lg-3">
                <div class="card my-3">
                    <img src="{{item.image.url}}" class="card-image-top" alt="Categories">
                    <a href="{% url 'collections' item.name %}">
                    <div class="card-body">
                        <h5 class="card-title text-primary"> {{item.name}} </h5>
                        <p class="card-text"> {{item.description}} </p>
                    </div>
                    </a>
                </div>  
            </div>
            {% endfor item in category %}
        </div>
    </div> 
</section>

{% endblock content %}
