{% extends 'shop/layouts/main.html' %}

{% block title %} 
Registration | QuickShop
{% endblock title %}

{% block content %}
<section class = "bg-light py-4 my-5">
    <div class  ="container">
        <div class="row">
            <div class="col-12">
                <h4 class = "mb-3">Cart Items </h4>
                <hr style="border-color:#b8bfc2;">
            </div>
        
            <table class="">
                <tr>
                    <th>Image</th>
                    <th>Product Name</th>
                    <th>Unit Amount</th>
                    <th>Remove</th>
                </tr>
                {% for item in favourite %}
                <tr>
                    <td><img src="{{item.product.product_image.url}}" height="70px" alt="{{item.product.name}}"></td>
                    <td>{{item.product.name}}</td>
                    <td>{{item.product.selling_price | stringformat:'d'}}</td>
                    <td><a href="{% url 'remove_favourite_product' item.id %}" onclick="return confirm('Are You Sure To Remove')" class="btn btn-danger btn-sm"> <i class="fa-solid fa-trash"></i></a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>  
</section>

{% endblock content %}
