{% extends 'shop/layouts/main.html' %}

{% block title %} 
Registration | QuickShop
{% endblock title %}

{% block content %}
<div class="py-18 container" style="margin-top:100px;">
    <div class="row">
        <div class="col-50">
            <h4 class="mb-3"> Register </h1>
            <hr style="border-color: #b8bfc2;">
            {% include 'shop/inc/message.html' %}
        </div>
    </div>
    <section class="py-0 my-5" >
        <div class="container">
            <div class="row">
                <div class="col-6">
                        <form method="post" action="">
                            {% csrf_token %}
                        <div class="mb-4">
                            <label for="" class="form-label">User Name</label>
                            {{form.username}}
                            {% if form.errors.username %}
                            <label class="text-danger">{{form.errors.username}}</label>
                            {% endif %}
                        </div>
                        <div class="mb-4">
                            <label for="" class="form-label">Email</label>
                            {{form.email}}
                            {% if form.errors.email %}
                            <label class="text-danger">{{form.errors.email}}</label>
                            {% endif %}
                        </div>
                        <div class="mb-4">
                            <label for="" class="form-label">Password</label>
                            {{form.password1}}
                            {% if form.errors.password1 %}
                            <label class="text-danger">{{form.errors.password1}}</label>
                            {% endif %}
                        </div>
                        <div class="mb-4">
                            <label for="" class="form-label">Confirm Password</label>
                            {{form.password2}}
                            {% if form.errors.password2 %}
                            <label class="text-danger">{{form.errors.password2}}</label>
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>
                    <p class="my-2">Already User <a href="{% url 'register' %}">Login</a></p>
                </div>  
            </div>
        </div>
    </section>
 </div>
{% endblock content %}

